.bag-container {
  max-width: 1200px;
  min-height: 390px;
  text-align: center;
  margin: 50px auto;
}
.bag-icon {
  height: 50px;
  font-size: 50px;
  color: #fc3b3b;
  margin-bottom: 15px;
}
.bag-container span {
  display: block;
  font-size: 13px;
  margin-bottom: 15px;
}
.bag-container .go-homepage {
  width: 500px;
  height: 40px;
  border: 1px solid #0b6ffd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  cursor: pointer;
}
.bag-container .go-homepage:hover {
  text-decoration: none;
}
