.order-bag-wrap {
  max-width: 1200px;
  min-height: 390px;
  text-align: center;
  margin: 50px auto;
}
.order-bag-wrap .order-bag-icon {
  height: 50px;
  font-size: 50px;
  color: var(--r1);
  margin-bottom: 15px;
}
.order-bag-wrap span {
  display: block;
  font-size: 13px;
  margin-bottom: 15px;
}
.order-bag-wrap .go-homepage {
  width: 500px;
  height: 40px;
  border: 1px solid var(--bl);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  cursor: pointer;
}
.order-bag-wrap .go-homepage:hover {
  text-decoration: none;
}

/* ----------------- */
.order-bag-wrap .order-bag {
  width: 1000px;
  padding: 40px;
  border: 1px solid var(--w1);
  border-radius: 24px;
  margin: 0 auto;
  position: relative;
}
.order-bag-wrap .order-bag:before {
  content: "";
  background-image: url("../../assets/banner/bg-danh-muc-noi-bat-top-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 200px;
  height: 100px;
  top: 15px;
  right: 0;
}
.order-bag-wrap .order-bag .order-header {
  text-align: left;
  border-bottom: 1px solid var(--w1);
  margin-bottom: 20px;
}
.order-bag-wrap .order-bag .order-header h2 {
  font-size: 30px;
  color: var(--b);
}
.order-bag-wrap .order-bag .order-header span {
  font-size: 15px;
  color: var(--b1);
}
.order-bag-wrap .order-bag .order-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 30px;
}
.order-bag-wrap .order-bag .order-content .your-order {
  width: 100%;
}
.order-bag-wrap .order-bag .order-content .your-order h4 {
  font-size: 20px;
  text-align: left;
  margin-bottom: 30px;
}
.order-bag-wrap .order-bag .order-content .order-items {
  width: 100%;
  max-height: 396px;
  min-height: 396px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.order-bag-wrap .order-bag .order-content .order-item {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.order-bag-wrap .order-bag .order-content .order-item .order-infor {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.order-bag-wrap .order-bag .order-content .order-item .order-infor .image {
  height: 68px;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid var(--w1);
  position: relative;
}
.order-bag-wrap .order-bag .order-content .order-item .order-infor img {
  height: 100%;
  width: 50px;
  object-fit: cover;
}
.order-bag-wrap .order-bag .details .name {
  font-size: 13px;
  text-align: left;
}
.order-bag-wrap .order-bag .details span {
  margin: 3px 0;
}
.order-bag-wrap .order-bag .details .element {
  display: flex;
  gap: 20px;
}
.order-bag-wrap .order-bag .details .element > span {
  font-size: 11px;
  color: var(--b1);
}
.order-bag-wrap .order-bag .order-content .order-item .order-prices {
  margin-left: auto;
  margin-right: 10px;
  min-width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  align-items: flex-end;
}
.order-bag-wrap .order-bag .order-content .order-item .order-prices .price {
  font-size: 12px;
  margin: 0;
}
.order-bag-wrap .order-bag .order-content .order-item .order-prices .qty {
  height: 15px;
  display: flex;
  gap: 5px;
}
.order-bag-wrap .order-bag .order-content .order-item .order-prices .qty span {
  width: 15px;
  height: 15px;
  font-size: 12px;
  color: var(--b1);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-bag-wrap
  .order-bag
  .order-content
  .order-item
  .order-prices
  .qty
  span:first-child,
.order-bag-wrap
  .order-bag
  .order-content
  .order-item
  .order-prices
  .qty
  span:last-child {
  background-color: var(--w1);
  border-radius: 100rem;
  color: var(--b1);
  user-select: none;
  cursor: pointer;
}
.order-bag-wrap
  .order-bag
  .order-content
  .order-item
  .order-prices
  .qty
  span:first-child[value="1"] {
  cursor: not-allowed;
}
.order-bag-wrap .order-bag .order-content .order-item .delete {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 16px;
  color: var(--r1);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s linear;
}
.order-bag-wrap .order-bag .order-content .order-item:hover .delete {
  visibility: visible;
  opacity: 1;
}

.order-bag-wrap .order-bag .order-content .payment {
  width: 100%;
  /* height: 660px; */
}
.order-bag-wrap .order-bag .order-content .payment h4 {
  font-size: 20px;
  text-align: left;
}
.order-bag-wrap .order-bag .order-content .payment > span {
  font-size: 11px;
  color: var(--b1);
  text-align: left;
}
.order-bag-wrap .order-bag .order-content .payment form {
  width: 100%;
  height: 530px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.order-bag-wrap .order-bag .order-content .payment form .form-input {
  width: 100%;
  text-align: left;
}
.order-bag-wrap .order-bag .order-content .payment form label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}
.order-bag-wrap .order-bag .form-input > input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--w1);
  border-radius: 5px;
  padding: 10px;
}
.order-bag-wrap .order-bag .form-input input,
.order-bag-wrap .order-bag .form-input input:placeholder-shown {
  font-size: 11px;
}
.order-bag-wrap .order-bag .form-input input:focus,
.order-bag-wrap .order-bag .form-input .card-detail input:focus,
.order-bag-wrap .order-bag .form-input > .address > input:focus {
  border: 1px solid var(--bl);
  transition: var(--t);
}
.order-bag-wrap .order-bag .form-input .card-detail input,
.order-bag-wrap .order-bag .form-input .address input {
  height: 40px;
  border: none;
  border: 1px solid var(--w1);
  border-radius: 5px;
  padding: 10px;
}
.order-bag-wrap .order-bag .form-input .card-detail input:first-child {
  width: 280px;
  margin-right: 5px;
}
.order-bag-wrap .order-bag .form-input .card-detail input:nth-child(2),
.order-bag-wrap .order-bag .form-input .card-detail input:nth-child(3) {
  width: 64px;
}
.order-bag-wrap .order-bag .form-input .card-detail input:nth-child(2),
.order-bag-wrap .order-bag .form-input .address input:first-child {
  margin-right: 5px;
}
.order-bag-wrap .order-bag form > .address > input {
  margin-bottom: 5px;
}
.order-bag-wrap .order-bag form .payment-method {
  width: 100%;
  height: 90px;
}
.order-bag-wrap .order-bag form .payment-method .payment {
  width: 100%;
  height: 67px;
  display: grid;
  grid-template-columns: 2fr 2fr 0.75fr;
  gap: 5px;
}
.order-bag-wrap .order-bag form .payment-method .payment .payment-select {
  width: 100%;
  height: 67px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  border: 1px solid var(--w1);
  border-radius: 8px;
  cursor: pointer;
}
.order-bag-wrap .order-bag form .payment-method .payment .active {
  border: 1px solid var(--bl);
  transition: var(--t);
}
.order-bag-wrap
  .order-bag
  form
  .payment-method
  .payment
  .payment-select:nth-child(3)
  a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-bag-wrap
  .order-bag
  form
  .payment-method
  .payment
  .payment-select:nth-child(3)
  span {
  margin: 0;
}
.order-bag-wrap
  .order-bag
  form
  .payment-method
  .payment
  .payment-select:nth-child(3)
  span:first-child {
  font-size: 18px;
}
.order-bag-wrap .order-bag form .payment-method .payment .payment-select span {
  margin: 0;
}
.order-bag-wrap
  .order-bag
  form
  .payment-method
  .payment
  .payment-select
  .card-number {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-bag-wrap
  .order-bag
  form
  .payment-method
  .payment
  .payment-select
  .card-number
  span:last-child,
.order-bag-wrap
  .order-bag
  form
  .payment-method
  .payment
  .payment-select
  .card-number
  span:last-child
  .link {
  color: var(--b1);
  font-size: 12px;
}

.order-bag-wrap
  .order-bag
  form
  .payment-method
  .payment
  .payment-select
  > span {
  width: 45px;
  height: 45px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-bag-wrap
  .order-bag
  form
  .payment-method
  .payment
  .payment-select
  > span
  i {
  font-size: 25px;
  color: var(--bl);
}
.order-bag-wrap .order-bag .billing {
  width: 100%;
  height: 30px;
  display: flex;
  gap: 10px;
}
.order-bag-wrap .order-bag .billing input {
  width: 16px;
  height: 16px;
}
.order-bag-wrap .order-bag .billing span {
  color: var(--b1);
  font-size: 12px;
}

/* ------------ */
.order-bag-wrap .order-bag .total-price {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid var(--w1);
  border-bottom: 1px solid var(--w1);
  margin-bottom: 20px;
}
.order-bag-wrap .order-bag .total-price .price-item {
  width: 100%;
  display: flex;
}
.order-bag-wrap .order-bag .total-price .price-item span {
  font-size: 12px;
}
.order-bag-wrap .order-bag .total-price .price-item span:last-child {
  margin-left: auto;
}
.order-bag-wrap .order-bag .total-price .total span {
  font-size: 13px;
  font-weight: bold;
}
.order-bag-wrap .order-bag .order-content button {
  height: 45px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0 25px;
  outline: none;
  border: none;
  border-radius: 100rem;
  color: var(--w);
  background-color: var(--bl);
  position: relative;
}
.order-bag-wrap .order-bag .order-content button:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--t);
}
.order-bag-wrap .order-bag .order-content button:hover:before {
  width: 100%;
}
