.nav {
  width: 100%;
  background-color: var(--y);
  user-select: none;
}
.nav-banner {
  width: 100%;
  height: 44px;
  background-color: var(--r);
}
.nav-banner img {
  margin: 0 auto;
}

/* ----------------------- */
.nav-direct-wrap {
  width: 100%;
  height: 55px;
}
.nav-direct {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav-direct .nav-direct-item {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--b);
  font-size: 13px;
  font-weight: 400;
}
.nav-direct-item:hover {
  text-decoration: none;
}
.nav-direct-item img {
  width: 250px;
  height: 55px;
}
.nav-direct .admin,
.nav-direct .order-history,
.nav-direct .order-bag,
.nav-direct .about {
  height: 40px;
  border-radius: 5px;
  background-color: var(--o);
  padding: 10px 15px;
}
.nav-direct .nav-direct-item span {
  margin-left: 5px;
}
.nav-direct .search,
.nav-direct input {
  height: 35px;
  width: 250px;
  position: relative;
  border: none;
  font-size: 12px;
}
.nav-direct .search .search-icon {
  font-size: 16px;
  color: var(--b);
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
}
.nav-direct .option {
  width: 35px;
  height: 35px;
  border-radius: 100rem;
  background-color: var(--o);
  margin: 0;
  position: relative;
}
.nav-direct .option .option-icon {
  width: 100%;
  height: 100%;
  font-size: 25px;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-direct .option .option-details {
  width: 110px;
  height: auto;
  padding: 10px;
  background-color: var(--o);
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(60%);
  user-select: none;
}
.nav-direct .option .option-details .arrow {
  width: 20px;
  height: 20px;
  margin: 0;
  color: var(--o);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, -50%);
}
.nav-direct .option .option-detail {
  display: flex;
  align-items: center;
  width: 80px;
  color: var(--b);
  font-weight: 400;
  font-size: 13px;
  line-height: 2;
}

/* ----------------------- */
.nav-menu-wrapper {
  width: 100%;
  height: 55px;
}
.nav-menu {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.nav-menu .menu-level-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
}
.nav-menu .menu-level-1 .item-level-1-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--b);
  font-size: 14px;
  padding: 10px;
  transition: var(--t);
}
.nav-menu .menu-level-1 .item-level-1 {
  position: relative;
}
.nav-menu .menu-level-1 .item-level-1:hover .nav-menu-2-wrapper {
  display: block;
}
.nav-menu .menu-level-1 .item-level-1-link:hover {
  text-decoration: none;
  background-color: var(--y1);
}
.nav-menu .menu-level-1 .item-level-1-link img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.item-level-1 .nav-menu-2-wrapper {
  min-width: 200px;
  background-color: var(--w);
  border-radius: 3px;
  padding: 10px 20px;
  box-shadow: 1px 1px 2px var(--b1);
  position: absolute;
  top: 50px;
  z-index: 10;
  display: none;
  transition: var(--t);
}
.item-level-1 .nav-menu-2-wrapper > span {
  color: var(--w);
  font-size: 30px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.item-level-1 .nav-menu-2 {
  display: flex;
}
.item-level-1 .nav-menu-2 .menu-level-2 {
  list-style: none;
  padding: 0;
  margin-right: 10px;
}
.item-level-1 .nav-menu-2 .menu-level-2 .item-level-2,
.item-level-1 .nav-menu-2 .menu-level-2 .item-level-2-link {
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  color: black;
}
.item-level-1 .phukien {
  min-width: 400px;
}
.item-level-1 .nav-menu-2 .menu-level-2 .item-level-2 strong {
  border-bottom: 1px solid #ddd;
}
.item-level-1 .nav-menu-2 .menu-level-2 .item-level-2-link:hover {
  font-weight: bold;
  text-decoration: none;
}
