.admin-account {
  background-color: #fff;
  padding: 30px;
}
.account-header {
  width: 100%;
  height: 70px;
  display: flex;
}
.account-header-title {
  font-size: 16px;
}
.account-header-home {
  height: 40px;
}
.account-header-addnew {
  height: 40px;
  font-size: 16px;
  margin-left: auto;
  padding: 0 15px;
  border-radius: 5px;
  color: #fff;
}
.account-table thead tr,
.account-table tbody tr {
  height: 50px;
}
.account-table tbody th,
.account-table tbody td {
  vertical-align: middle !important;
  font-size: 14px;
}
.account-table tbody td > button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-table tbody td > button span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
