.admin-account {
  background-color: var(--w);
  padding: 30px;
}
.admin-account .account-header {
  width: 100%;
  height: 70px;
  display: flex;
}
.admin-account .account-header h1 {
  font-size: 30px;
}
.admin-account .account-header button {
  height: 40px;
  font-size: 16px;
  margin-left: auto;
  padding: 0 15px;
  border-radius: 5px;
  color: var(--w);
}
.admin-account .account-table thead tr,
.admin-account .account-table tbody tr {
  height: 50px;
}
.admin-account .account-table tbody th,
.admin-account .account-table tbody td {
  vertical-align: middle !important;
  font-size: 14px;
}
.admin-account .account-table tbody td > button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-account .account-table tbody td > button span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
